name: CI

on:
  push:
    branches: [apolo]
    tags: ["v*"]
  pull_request:
    branches: [apolo]

jobs:
  test:
    name: All checks are passed
    uses: ./.github/workflows/test.yaml
    secrets: inherit
    permissions:
      contents: read

  approve:
    name: Approve bot PR
    runs-on: ubuntu-latest
    if: endsWith(github.actor, '[bot]')
    needs: test
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: metadata
        id: metadata
        if: github.actor == 'dependabot[bot]'
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Enable auto-merge for bot PRs
        run: gh pr merge --auto --squash --delete-branch "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-hook-image:
    name: Release hook image
    runs-on: ubuntu-latest
    needs: test
    if: (
      (github.event_name == 'pull_request' && github.actor != 'dependabot[bot]') ||
      (github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/apolo'))
      )
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Login to ghcr.io
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build image
        run: |
          make build-hook-image
      - name: Release branch image
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        run: |
          BRANCH_NAME=${{ github.head_ref }}
          # Convert to lowercase, replace anything not a-z0-9_.- with '-'
          export IMAGE_TAG=$(echo "${BRANCH_NAME}" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9_.-]/-/g')
          make push-hook-image
      - name: Release development image
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          export IMAGE_TAG=master
          make push-hook-image
      - name: Release prod image
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: |
          export IMAGE_TAG=${GITHUB_REF#refs/tags/}
          make push-hook-image

  operator-chart-release:
    runs-on: ubuntu-latest
    needs: test
    name: Publish operator chart
    env:
      HELM_EXPERIMENTAL_OCI: 1
      OCI_REGISTRY: ghcr.io
      GH_PAGES_BRANCH: gh-pages
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Package Charts
        run: |
          # Package charts
          mkdir -p ./packaged

          for DIR in helm/*; do
            # Check if Chart.yaml exists in this directory
            if [ -f "${DIR}/Chart.yaml" ]; then
              echo "Packaging ${DIR}"
              helm dependency update $DIR
              helm lint $DIR
              helm package $DIR --destination ./packaged
            fi
          done

      - name: Log in to GitHub Packages
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login $OCI_REGISTRY -u ${{ github.actor }} --password-stdin

      - name: Push Charts to GitHub Packages
        run: |
          for CHART in ./packaged/*.tgz; do
            CHART_NAME=$(helm inspect chart "$CHART" | grep '^name:' | awk '{print $2}')
            CHART_VERSION=$(helm inspect chart "$CHART" | grep '^version:' | awk '{print $2}')
            REPO=oci://ghcr.io/${{ github.repository }}

            # Check if chart version already exists
            if helm pull "$REPO/$CHART_NAME" --version "$CHART_VERSION" --destination /tmp 2>/dev/null; then
              echo "Chart ${CHART_NAME} version ${CHART_VERSION} already exists, skipping"
            else
              echo "Publishing $CHART"
              helm push "$CHART" $REPO
            fi
          done
